apiVersion: v1
kind: Service
metadata:
  name: event-app-service
  labels:
    app: event-app
    tier: backend
spec:
  type: NodePort
  selector:
    app: event-app
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
