apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  labels:
    app: postgres
    tier: database
type: Opaque
stringData:
  POSTGRES_USER: "event_user"
  POSTGRES_PASSWORD: "secure_password_123"
